@font-face {
  font-family: "Material Design Icons";
  src: url("node_modules/@mdi/font/fonts/materialdesignicons-webfont.eot?v=3.7.95");
  src: url("node_modules/@mdi/font/fonts/materialdesignicons-webfont.eot?#iefix&v=3.7.95") format("embedded-opentype"), url("node_modules/@mdi/font/fonts/materialdesignicons-webfont.woff2?v=3.7.95") format("woff2"), url("node_modules/@mdi/font/fonts/materialdesignicons-webfont.woff?v=3.7.95") format("woff"), url("node_modules/@mdi/font/fonts/materialdesignicons-webfont.ttf?v=3.7.95") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

.grid-container {
  max-width: 83em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    font-family: 'Raleway', sans-serif;
}

h3 {
  font-size: 26px;
  margin-bottom: 16px;
}

h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

ul {
  list-style-type: circle;
}

.box {
  -webkit-box-shadow: 0px 0px 1px 1px rgba(187,187,187,1);
  -moz-box-shadow: 0px 0px 1px 1px rgba(187,187,187,1);
  box-shadow: 0px 0px 1px 1px rgba(187,187,187,1);
  padding: 8px 24px;
  border-radius: 3px;
  background-color: #eef3fd;
}

@media print {
  section#main {
    margin-top: 30px;
  } 
}

header {
  margin-bottom: 8px;
}

header i {
  font-size: 20px;
}

#picture {
  height: 192px;
  border-radius: 3px;
}

#identity {}


/**
 * Coordinates
 */
#coordinates {
  font-size: 18px;
}

#coordinates p {
  text-align: right;
}

#coordinates i.mdi {
  margin-left: 16px;
}

#coordinates p.mdi::before {

}

.mdi::before {
  margin-right: 8px;
}

.cv-section {
  margin-bottom: 8px;
}

/**
 * Expériences
 */
#experience ul {
  list-style-type: circle;
}

#experience ul li {
  font-size: 12px;
}

.experience,
.formation {
  border-bottom: 1px dotted #bbb;
  margin-bottom: 16px;
}

.experience:last-child,
.formation:last-child {
  border-bottom: 0 none;
}

.experience__title,
.formation__title {
  margin-bottom: 0;
  font-size: 18px;
}

.experience__information,
.formation__information {
  font-size: 14px;
  font-style: italic;
}


/**
 * Compétences
 */
#skills ul + h4 {
  margin-top: 24px;
}


/**
 * Activités
 */
#activity dd + dt {
  margin-top: 24px;
}
